<div class="table-responsive">
  <table class="table table-bordered table-hover align-middle">
    <thead class="table-success">
      <tr>
        <th scope="col">Feature</th>
        <th scope="col">On-Grid Solar</th>
        <th scope="col">Off-Grid Solar</th>
        <th scope="col">Hybrid Solar</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Connection to Grid</th>
        <td>Yes</td>
        <td>No</td>
        <td>Yes</td>
      </tr>
      <tr>
        <th scope="row">Batteries Required</th>
        <td>No</td>
        <td>Yes</td>
        <td>Yes</td>
      </tr>
      <tr>
        <th scope="row">Net Metering Benefit</th>
        <td>Yes (Sell excess power)</td>
        <td>No</td>
        <td>Yes</td>
      </tr>
      <tr>
        <th scope="row">Works during Power Cuts?</th>
        <td>No (Auto shut-off for safety)</td>
        <td>Yes</td>
        <td>Yes</td>
      </tr>
      <tr>
        <th scope="row">Cost</th>
        <td>Lowest</td>
        <td>High</td>
        <td>Highest</td>
      </tr>
      <tr>
        <th scope="row">Government Subsidy</th>
        <td>Eligible (PM Surya Ghar)</td>
        <td>Not Eligible</td>
        <td>Partially Eligible</td>
      </tr>
    </tbody>
  </table>
</div>
