*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}


body{
background:#f4f7f6;
}



/* Layout */

.crm-layout{

display:flex;

min-height:100vh;

}


/* Sidebar */

.crm-sidebar{

width:250px;

background:#004b32;

color:white;

padding:30px 20px;

position:fixed;

height:100vh;

}


.crm-sidebar h3{

font-size:28px;

font-weight:900;

color:#ffc107;

margin-bottom:60px;

}


.crm-sidebar a{

display:block;

color:white;

text-decoration:none;

font-weight:bold;

margin-bottom:35px;

}





/* Main */

.crm-content{

margin-left:250px;

width:calc(100% - 250px);

padding:35px;

}


.crm-title{

font-size:36px;

font-weight:900;

color:#004b32;

margin-bottom:30px;

}



/* Cards */

.crm-card{

background:white;

height:140px;

border-radius:20px;

display:flex;

align-items:center;

justify-content:center;

flex-direction:column;

box-shadow:0 10px 30px #0002;

}


.crm-card h1{

font-size:45px;

font-weight:900;

color:#009957;

}


.crm-card p{

font-weight:700;

}



/* Chart */


.crm-chart{

background:white;

padding:25px;

border-radius:20px;

margin-bottom:30px;

box-shadow:0 10px 30px #0002;

}


.crm-chart canvas{

max-height:260px;

}




/* Search */


.search-box{

width:100%;

padding:15px;

border-radius:30px;

border:1px solid #ddd;

margin-bottom:25px;

}



/* Table */

.table-box{

background:white;

padding:20px;

border-radius:20px;

box-shadow:0 10px 30px #0002;

overflow:auto;

}


.table th{

background:#004b32 !important;

color:white !important;

}

.dashboard-grid{

display:grid;

grid-template-columns:repeat(4,1fr);

gap:25px;

margin-bottom:35px;

}


.crm-card{

width:100% !important;

}


.table-box{

width:100%;

}


.crm-chart{

width:100%;

}
/* CRM STATUS DESIGN */


.status-badge{

padding:8px 18px;

border-radius:30px;

font-weight:900;

font-size:13px;

}


.status-badge.New{

background:#fff3cd;

color:#b88600;

}



.status-badge.Contacted{

background:#dbeafe;

color:#0056d6;

}



.status-badge.Installed{

background:#d1fae5;

color:#00834d;

}





.action-btn{

display:block;

width:140px;

text-align:center;

padding:8px;

border-radius:20px;

margin-bottom:8px;

text-decoration:none;

font-size:13px;

font-weight:900;

}




.action-btn.contact{

background:#2196f3;

color:white;

}



.action-btn.install{

background:#00a651;

color:white;

}



.action-btn.delete{

background:#e91e35;

color:white;

}