*{

margin:0;
padding:0;
box-sizing:border-box;

}



body{

font-family:'Segoe UI',sans-serif;

}


/* TOP */

.top-bar{

background:#063b2d;
color:white;
padding:8px;
font-size:14px;

}


/* NAV */

.main-nav{

background:white;
padding:15px 0;
box-shadow:0 5px 20px #0002;

}



.navbar-brand{

font-size:28px;
font-weight:800;
color:#0c7c3c;

}


.navbar-brand span{

display:block;
font-size:12px;
color:#777;

}


.navbar-nav li{

margin-left:25px;

}


.navbar-nav a{

text-decoration:none;
color:#111;
font-weight:600;

}


.quote-btn{

background:#ffc107;
padding:10px 20px;
border-radius:30px;

}




/* HERO */


.hero-slider{


height:90vh;


background:

linear-gradient(
rgba(0,0,0,.55),
rgba(0,0,0,.55)
),

url("https://images.unsplash.com/photo-1509391366360-2e959784a276");


background-size:cover;

background-position:center;


display:flex;

align-items:center;

}



.hero-content{


margin-left:10%;

color:white;

max-width:700px;


}



.hero-content h5{


color:#ffc107;

font-weight:bold;


}



.hero-content h1{

font-size:65px;

font-weight:900;


}



.hero-content p{

font-size:22px;

margin:25px 0;


}




/* FOOTER */


footer{

background:#06241c;

color:white;

padding:60px 0 20px;


}


footer h3,
footer h4{

color:#ffc107;


}


/* SERVICES */


.services-section{

padding:90px 0;

background:#f7faf9;

}


.section-title{

text-align:center;

margin-bottom:50px;

}


.section-title h5{

color:#0c7c3c;

font-weight:bold;

}


.section-title h2{

font-size:42px;

font-weight:800;

}




.service-card{


background:white;

padding:40px 25px;

border-radius:20px;

text-align:center;

box-shadow:0 10px 30px #0001;

transition:.4s;


}



.service-card:hover{

transform:translateY(-15px);

box-shadow:0 20px 40px #0003;


}



.service-card i{


font-size:55px;

color:#ffc107;

margin-bottom:25px;


}


.service-card h3{

font-weight:700;

}




/* COUNTERS */


.counter-area{

background:#063b2d;

color:white;

padding:60px;

}


.counter-area h2{

font-size:45px;

color:#ffc107;

font-weight:900;

}




/* WHY */


.why-section{

padding:90px 0;

}


.why-img{

width:100%;

height:420px;

object-fit:cover;

border-radius:25px;

}


.why-section h5{

color:#0c7c3c;

font-weight:bold;


}


.why-section h2{

font-size:42px;

font-weight:800;

}



.why-section li{

list-style:none;

font-size:18px;

margin:15px 0;


}

/* SUBSIDY */


/* SUBSIDY SECTION */


.subsidy-section{


padding:90px 0;

background:

linear-gradient(

120deg,

#fff8df,

#e8fff1

);


}



.subsidy-section h5{

color:#0c7c3c;

font-weight:800;

letter-spacing:1px;


}



.subsidy-section h2{


font-size:42px;

font-weight:900;

color:#063b2d;


}



.subsidy-section p{


font-size:17px;

color:#555;


}




.subsidy-img{


width:100%;

height:430px;

object-fit:cover;

border-radius:25px;

box-shadow:0 15px 40px #0003;


}






.subsidy-box{


background:white;

padding:35px;

border-radius:20px;

margin:30px 0;

box-shadow:

0 15px 40px #0002;


border-left:

8px solid #ffc107;


}





.subsidy-box h3{


font-size:55px;

font-weight:900;

color:#0c7c3c;


}





.subsidy-list{

display:flex;

flex-direction:column;

gap:15px;

margin-top:25px;


}




.subsidy-list span{


background:#f3fff8;

padding:14px 18px;

border-radius:12px;

font-size:16px;

font-weight:700;

color:#063b2d;

border:1px solid #d8f5e5;


transition:.3s;


}



.subsidy-list span:hover{


background:#0c7c3c;

color:white;

transform:translateX(10px);


}


/* EMI */


.emi-section{

background:

linear-gradient(

120deg,

#063b2d,

#0c7c3c

);


color:white;


padding:70px;


}


.emi-section h2{


font-size:42px;

font-weight:800;


}





/* WHATSAPP */


.whatsapp{


position:fixed;

right:25px;

bottom:25px;

width:60px;

height:60px;


background:#25d366;


color:white;


border-radius:50%;


display:flex;

align-items:center;

justify-content:center;


font-size:35px;

text-decoration:none;


z-index:999;


box-shadow:0 10px 25px #0005;


}

/* SOLAR CALCULATOR */


.calculator-section{


padding:90px 0;

background:#f7faf9;


}



.calculator-box{


max-width:650px;

margin:auto;

background:white;

padding:45px;

border-radius:25px;

box-shadow:0 15px 40px #0002;

text-align:center;


}





.calculator-box input{


width:100%;

padding:18px;

border-radius:50px;

border:2px solid #ddd;

font-size:18px;

outline:none;


}



.calculator-box button{


margin-top:25px;

background:#ffc107;

border:none;

padding:15px 40px;

border-radius:50px;

font-size:18px;

font-weight:800;


}




#solarResult{


margin-top:30px;

font-size:20px;

font-weight:700;

color:#063b2d;


}

.contact-page{

padding:120px 0;

background:#e8fff1;

}



.contact-page h2{

text-align:center;

font-weight:900;

margin-bottom:40px;

}



.contact-page form{

max-width:600px;

margin:auto;

background:white;

padding:40px;

border-radius:25px;

box-shadow:0 15px 40px #0002;


}




.contact-page input{

width:100%;

margin-bottom:20px;

padding:15px;

border-radius:10px;

border:1px solid #ddd;


}



.contact-page button{


width:100%;

padding:15px;

border:none;

border-radius:50px;

background:#ffc107;

font-weight:800;


}

/* ADMIN DASHBOARD */


.admin-section{

padding:120px 0;

background:#f7faf9;

min-height:80vh;

}



.admin-header{

display:flex;

justify-content:space-between;

align-items:center;

margin-bottom:30px;


}



.admin-header h2{

font-weight:900;

color:#063b2d;

}



.table-box{

background:white;

padding:30px;

border-radius:20px;

box-shadow:0 15px 40px #0002;

overflow:auto;

}



.table th{

background:#063b2d !important;

color:white !important;

padding:15px;

}



.table td{

padding:15px;

font-weight:500;

}


.table a{

text-decoration:none;

font-weight:700;

color:#0c7c3c;


}

/* PROJECTS */


.projects-section{

padding:90px 0;

background:white;

}



.project-card{


position:relative;

overflow:hidden;

border-radius:20px;

box-shadow:0 15px 40px #0002;

margin-bottom:30px;


}



.project-card img{


width:100%;

height:300px;

object-fit:cover;

transition:.5s;


}



.project-card:hover img{


transform:scale(1.1);


}




.project-card div{


position:absolute;

bottom:0;

left:0;

right:0;

padding:25px;


background:

linear-gradient(

transparent,

black

);


color:white;


}




/* REVIEWS */



.review-section{

padding:90px 0;

background:#e8fff1;

}



.review-card{


background:white;

padding:35px;

border-radius:20px;

height:100%;

box-shadow:0 15px 40px #0002;


transition:.3s;

}



.review-card:hover{


transform:translateY(-10px);


}



.review-card p{

margin:20px 0;

font-size:17px;


}



.review-card h4{

color:#0c7c3c;

font-weight:800;


}

/* PAGE BANNER */


.page-banner{

height:350px;


background:

linear-gradient(

rgba(0,0,0,.6),

rgba(0,0,0,.6)

),

url("https://images.unsplash.com/photo-1508514177221-188b1cf16e9d");


background-size:cover;

background-position:center;


display:flex;

justify-content:center;

align-items:center;

text-align:center;


color:white;


}



.page-banner h1{


font-size:55px;

font-weight:900;


}







/* ABOUT */


.about-section{

padding:90px 0;

}


.about-img{

width:100%;

height:430px;

object-fit:cover;

border-radius:25px;

box-shadow:0 15px 40px #0003;

}



.about-section h5{

color:#0c7c3c;

font-weight:bold;


}



.about-section h2{

font-size:42px;

font-weight:900;


}


.about-section li{

list-style:none;

margin:15px 0;

font-size:18px;


}





/* MISSION */


.mission-section{


padding:80px 0;

background:#e8fff1;


}



.mission-card{


background:white;

padding:45px;

border-radius:25px;

height:100%;

box-shadow:0 15px 40px #0002;


}



.mission-card h3{

color:#0c7c3c;

font-weight:900;


}

/* PACKAGES */


.package-section{


padding:90px 0;

background:#fff8df;


}




.package-card{


background:white;

padding:35px 25px;

border-radius:25px;

height:100%;

box-shadow:0 15px 40px #0002;

text-align:center;

transition:.3s;


}




.package-card:hover{

transform:translateY(-15px);


}





.package-card h3{

font-size:42px;

font-weight:900;

color:#0c7c3c;


}



.package-card ul{


padding:0;

margin:30px 0;


}



.package-card li{

list-style:none;

margin:12px 0;


}



.package-card a{


background:#ffc107;

padding:12px 25px;

border-radius:30px;

color:#111;

font-weight:800;

text-decoration:none;


}


/* CONTACT INFO */


.contact-info-section{

padding:70px 0;

background:#f7faf9;

}



.info-card{


background:white;

padding:40px;

border-radius:25px;

text-align:center;

box-shadow:0 15px 40px #0002;

height:100%;


}



.info-card i{


font-size:45px;

color:#ffc107;

margin-bottom:20px;


}



.info-card h3{


font-weight:900;

color:#063b2d;


}




/* MAP */


.map-box{


height:500px;

border-radius:25px;

overflow:hidden;

box-shadow:0 15px 40px #0003;


}



.map-box iframe{

width:100%;

height:100%;

border:0;


}



.contact-page h5{


color:#0c7c3c;

font-weight:800;


}



.contact-page h2{


font-size:40px;

font-weight:900;


}
/* LOADER */


#loader{


position:fixed;

top:0;

left:0;


width:100%;

height:100%;


background:#063b2d;


z-index:99999;


display:flex;

flex-direction:column;

align-items:center;

justify-content:center;


color:white;


}



.sun{


font-size:70px;


animation:spin 2s infinite linear;


}




#loader p{


font-size:30px;

font-weight:900;

margin-top:20px;


}




@keyframes spin{


100%{


transform:rotate(360deg);


}


}






html{


scroll-behavior:smooth;


}
