{% extends 'base.html' %}


{% block content %}


<section class="admin-section">


<div class="container">


<!-- DASHBOARD HEADER -->


<div class="admin-title">


<h2>
☀ Har Ghar Solar Dashboard
</h2>


<p>
Solar enquiry management portal
</p>


<a href="/logout" class="btn btn-danger">

Logout

</a>

<a href="/download-leads"
class="btn btn-warning">

Download Excel

</a>

</div>





<!-- STATS -->


<div class="row mb-5">


<div class="col-md-4">


<div class="dashboard-card">


<h1>

{{ leads|length }}

</h1>


<p>

Total Enquiries

</p>


</div>


</div>





<div class="col-md-4">


<div class="dashboard-card">


<h1>

☀

</h1>


<p>

Solar Leads

</p>


</div>


</div>





<div class="col-md-4">


<div class="dashboard-card">


<h1>

UP

</h1>


<p>

Service Area

</p>


</div>


</div>




</div>







<!-- SEARCH -->


<input

type="text"

id="leadSearch"

placeholder="Search customer..."

class="search-box"

onkeyup="searchLead()"

>








<!-- TABLE -->


<div class="table-box">


<table 

class="table table-hover"

id="leadTable">



<thead>


<tr>


<th>ID</th>

<th>Name</th>

<th>Phone</th>

<th>City</th>

<th>Bill</th>

<th>Action</th>


</tr>


</thead>






<tbody>



{% for lead in leads %}


<tr>


<td>

{{lead[0]}}

</td>



<td>

{{lead[1]}}

</td>



<td>

{{lead[2]}}

</td>



<td>

{{lead[3]}}

</td>



<td>

₹{{lead[4]}}

</td>



<td>


<a 

class="btn btn-success btn-sm"

target="_blank"

href="https://wa.me/91{{lead[2]}}">


WhatsApp


</a>




<a 

class="btn btn-danger btn-sm"

href="/delete/{{lead[0]}}">


Delete


</a>




</td>



</tr>



{% endfor %}




</tbody>



</table>



</div>




</div>


</section>



{% endblock %}