{% extends 'base.html' %}


{% block content %}


<!-- CONTACT HERO -->


<section class="page-banner">


<div>


<h1>

Get Free Solar Consultation

</h1>


<p>

Our solar expert will contact you shortly

</p>


</div>


</section>






<!-- CONTACT FORM -->


<section class="contact-page">


<div class="container">


<div class="row g-5 align-items-center">



<!-- LEFT INFO -->


<div class="col-md-5">


<div class="contact-card">


<h2>

Switch To Solar Today ☀️

</h2>



<p>

Fill your details and get complete rooftop solar guidance with subsidy support.

</p>



<div class="contact-point">

✔ Free Site Survey

</div>


<div class="contact-point">

✔ Subsidy Assistance

</div>


<div class="contact-point">

✔ Expert Installation

</div>



<hr>



<h4>

📞 +91 8077181038

</h4>


<h4>

📍 Uttar Pradesh

</h4>



</div>



</div>







<!-- FORM -->


<div class="col-md-7">



<form method="POST" class="lead-form">



<h3>

Request Free Quote

</h3>





<input 

type="text"

name="name"

placeholder="Full Name"

required

>






<input 

type="tel"

name="phone"

placeholder="Mobile Number"

required

>






<input 

type="text"

name="city"

placeholder="City / District"

required

>







<select name="bill">


<option>

Monthly Electricity Bill

</option>



<option>

Below ₹1000

</option>



<option>

₹1000 - ₹3000

</option>



<option>

₹3000 - ₹5000

</option>



<option>

Above ₹5000

</option>



</select>






<button>


Submit Enquiry


</button>




</form>



</div>



</div>


</div>


</section>




{% endblock %}