<!DOCTYPE html>

<html>

<head>

<title>
Har Ghar Solar Admin
</title>


<link 
href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css"
rel="stylesheet">


<link 
rel="stylesheet"
href="{{ url_for('static', filename='css/style.css') }}">


</head>


<body>



<div class="login-page">



<div class="login-box">



<div class="login-logo">

☀

</div>



<h2>

Har Ghar Solar CRM

</h2>


<p>

Admin Management Portal

</p>




<form method="POST">



<input

type="text"

name="username"

placeholder="Username"

required

>



<input

type="password"

name="password"

placeholder="Password"

required

>



<button>

Login Dashboard

</button>



</form>




</div>


</div>



</body>


</html>